.place__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: white;
  max-width: 460px;
  width: 100%;
  margin: 0px;
  text-align: left;
}
