.places {
  max-width: 984px;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 92px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places {
  padding: 0 0 92px 0;
  max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .places {
  padding: 0 0 88px 0;
  max-width: 720px;
  }
}

@media screen and (max-width: 375px) {
  .places {
  padding: 0 0 64px 0;
  max-width: 320px;
  }
}
