.cover__subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: white;
  margin: 32px auto 0 auto;
  max-width: 360px;
}

@media screen and (max-width: 375px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    padding: 0 16px 33px 16px;
  }
}
