.header__logo {
  max-width: 176px;
  width: 100%;
  height: auto;
  padding-left: 48px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    padding-left: 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 375px) {
  .header__logo {
    max-width: 142px;
    height: auto;
    padding-left: 0;
  }
}
