.lead__title {
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104px;
  text-align: center;
  color: white;
  margin: 0 auto 32px auto;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .lead__title {
  padding: 0 24px 0 24px;
  }
}

@media screen and (max-width: 640px) {
  .lead__title {
    font-size: 72px;
    line-height: 104%;
  }
}

@media screen and (max-width: 480px) {
  .lead__title {
    font-size: 56px;
  }
}

@media screen and (max-width: 375px) {
  .lead__title {
  font-size: 40px;
  line-height: 110%;
  padding: 0 16px 0 16px;
  margin: 0 auto 16px auto;
  }
}

