.footer__links {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 375px) {
  .footer__links {
    flex-direction: column;
    text-align: left;
  }
}
