.intro__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

@media screen and (max-width: 375px) {
  .intro__text {
    font-size: 16px;
    line-height: 162%;
  }
}
