@import url('__background/cover__background.css');
@import url('__subtitle/cover__subtitle.css');
@import url('__title/cover__title.css');

.cover {
  max-width: 1184px;
  width: 100%;
  margin: 80px auto 0 auto;
}
