@import url('__background/cover__background.css');
@import url('__subtitle/cover__subtitle.css');
@import url('__title/cover__title.css');

.cover {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}


@media screen and (max-width: 1024px) {
  .cover__background {
  max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
  max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
  max-width: 320px;
  }
}
