.header__lang-links {
  padding: 18px 48px 0 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    padding-right: 24px;
  }
}

@media screen and (max-width: 375px) {
  .header__lang-links {
    padding-right: 0;
  }
}
