.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
  color: white;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .intro__title {
    font-size: 48px;
  }
}

@media screen and (max-width: 480px) {
  .intro__title {
    font-size: 42px;
    line-height: 109%;
  }
}

@media screen and (max-width: 375px) {
  .intro__title {
    font-size: 32px;
  }
}
